#panels-container {
    background-color: var(--color-bg-primary);
}

#browser:not(.density-on) #switch .addwebpanel-wrapper>button.active,
#browser:not(.density-on) #switch>.button-toolbar.active,
#browser:not(.density-on) #switch>*>.button-toolbar.active,
#browser:not(.density-on) #switch>button.active {
    background-color: unset;
    box-shadow: unset;
}

.left #switch .addwebpanel-wrapper>button,
.left #switch>.button-toolbar,
.left #switch>*>.button-toolbar,
.left #switch>button {
    border-radius: var(--radius-primary);
}